body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
    overflow: hidden;
    padding: 0;
}

.screen {
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

#start-screen {
    padding: 20px;
}

.container {
    margin: 0 auto;
    max-width: 400px;
}

h1 {
    color: #007BFF;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
    color: #666;
}

.input-username {
    margin-bottom: 20px;
    text-align: left;
}

.input-username label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.input-username input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
}

.input-error {
    display: none;
    font-size: 1rem;
    color: red;
    opacity: 0.7;
}

.select-category,
.select-difficulty {
    margin-bottom: 20px;
    text-align: left;
}

.select-category label,
.select-difficulty label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
}

.difficulty-options {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.difficulty-options input[type="radio"] {
    margin-right: 5px;
}

button {
    padding: 15px 30px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

#game-screen {
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    display: none;
}

.game-inner {
    padding: 20px;
    text-align: left;
}

#question-container button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#question-container button.correct {
    background-color: green;
    color: white;
}

#question-container button.incorrect {
    background-color: red;
    color: white;
}

#score-container,
#info-container {
    margin-top: 20px;
    font-size: 1.2em;
}

#preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    animation: blinker 1.5s linear infinite;
    display: none;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.flash {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    animation: flash 0.5s;
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#next-button,
#score-container {
    display: none;
}

#progress-bar,
#progress-bar-top,
#progress-bar-bottom {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

#progress,
#time-progress-top,
#time-progress-bottom {
    height: 20px;
    background-color: #28A745; /* Green for top progress bar */
    width: 0%;
    transition: width 0.3s;
}

#time-progress-top,
#time-progress-bottom {
    background-color: red; /* Red for time progress bar */
    height: 3px;
}

.feedback {
    font-size: 1.2em;
    margin-top: 10px;
}

#next-button.animated {
    animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.fade-out {
    animation: fadeOut 1s forwards;
}

.fade-in {
    animation: fadeIn 1s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
